@charset "utf-8";
#homePageSS
{
	width:100%;
	margin-bottom:15px;
}

#homePageSS #mainFeature
{
	width:636px;
	height:250px;
}

#homePageSS #mainFeature img
{
	width:636px;
	height:250px;
}

#homePageSS #mainFeature .mainFeatureTitleBG
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	z-index:5;
	width:636px;
	height:70px;
	/*border:1px solid #999999;*/
	margin:0;
	padding:0;
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity='70');/*IE*/
}

#homePageSS #mainFeature .mainFeatureTitleText
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	z-index:10;
	width:626px;
	height:60px;
	margin:0;
	padding:0 0 7px 10px;
	background:transparent;
	color:#ffffff;
	font-family:Georgia, Times, Times New Roman, serif;
	font-size:25px;
	font-weight:normal;
}

#homePageSS #smallFeatureList {}

#homePageSS #smallFeatureList .smallFeature
{
	float:left;
	padding-top:15px;
	width:140px;
	margin:0 1px 0 0;
}

#homePageSS #smallFeatureList .smallFeature + .smallFeature
{
	margin:0 0 0 13px;
}

#homePageSS #smallFeatureList .activeFeature
{
	background-image:url("../images/currentFeaturePostArrow.png");
	background-repeat:no-repeat;
	background-position:top center;
}

#homePageSS #smallFeatureList .smallFeature img
{
	width:140px;
	height:95px;
}

#homePageSS #smallFeatureList .smallFeature .smallFeatureTitleBG
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	z-index:5;
	width:140px;
	height:20px;
	margin:0;
	padding:0;
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity='70');/*IE*/
}

#homePageSS #smallFeatureList .smallFeature .smallFeatureTitleText
{
	overflow:hidden;
	width:138px;
	margin:0;
	padding:0 0 0 2px;
	background:transparent;
	color:#333333;
	font-family:Georgia, Times, Times New Roman, serif;
	font-size:12px;
	font-weight:normal;
}

#homePageSS #smallFeatureList .smallFeature .hiddenLargeFeature
{
	display:none;
}

/******************************************************************************/
/*** --- slideshow2 version --- ***/
/******************************************************************************/
#homePageSS2
{
	position:relative;
	width:100%;
	margin-bottom:15px;
	z-index:10;
	overflow:visible;
}

#homePageSS2 .featureImage
{
	display:none;
	z-index:11;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

#homePageSS2 .fadingInFeature
{
	z-index:15;
}

#homePageSS2 .activeFeature
{
	display:block;
}

#homePageSS2 .activeFeature img
{
	position:relative;
}

#homePageSS2 .activeFeature .mainFeatureTitleBG
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	/*z-index:13;*/
	width:100%;
	height:70px;
	margin:0;
	padding:0;
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity='70');/*IE*/
}

#homePageSS2 .activeFeature .mainFeatureTitleText
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	/*z-index:10;*/
	width:100%;
	height:60px;
	margin:0;
	padding:0 0 7px 10px;
	background:transparent;
	color:#ffffff;
	font-family:Georgia, Times, Times New Roman, serif;
	font-size:25px;
	font-weight:normal;
}

#homePageSS2 .ss2_nav
{
	position:absolute;
	right:0;
	bottom:0;
	z-index:20;
	padding:5px;
	height:13px;
	margin:0;
}

#homePageSS2 .ss2_nav_button
{
	position:relative;
	float:left;
	background-image:url("../images/slideshow2_buttons.png");
	background-position:0 0;
	background-repeat:no-repeat;
	padding:0;
	margin:0 3px;
	width:13px;
	height:13px;
}

#homePageSS2 .ss2_nav_button_active
{
	background-position:-13px 0;
}

#homePageSS2 .ss2_nav_button > a
{
	display:inline-block;
	width:13px;
	height:13px;
	text-decoration:none;
}

/******************************************************************************/
/*** --- slideshow2 version --- ***/
/******************************************************************************/
#homePageSS3
{
	position:relative;
	width:635px;
	height:339px;
	margin:0 0 15px 0;
	z-index:10;
	overflow:visible;
	background-color:#7d7d7d;
}

#homePageSS3 .featureImage
{
	display:none;
	z-index:11;
	width:100%;
	position:absolute;
	top:0;
	left:0;

}

#homePageSS3 .fadingInFeature
{
	z-index:15;
}

#homePageSS3 .activeFeature
{
	display:block;
}

#homePageSS3 .activeFeature img
{
	position:relative;
}

#homePageSS3 .activeFeature .mainFeatureTitleBG
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	/*z-index:13;*/
	width:100%;
	height:70px;
	margin:0;
	padding:0;
	background:#000000;
	opacity:0.7;
	filter:alpha(opacity='70');/*IE*/
}

#homePageSS3 .activeFeature .mainFeatureTitleText
{
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	/*z-index:10;*/
	width:100%;
	height:60px;
	margin:0;
	padding:0 0 7px 10px;
	background:transparent;
	color:#ffffff;
	font-family:Georgia, Times, Times New Roman, serif;
	font-size:25px;
	font-weight:normal;
}

#homePageSS3 .ss3_nav
{
	position:absolute;
	left:0;
	bottom:0;
	margin:0;
	padding:0;
}

#homePageSS3 .ss3_nav_button
{
	position:relative;
	float:left;
	padding:0;
	margin:0 1px 1px 1px;
	width:156px;
	height:40px;
	background-color:#990000;
	color:#ffffff;
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:14px;
	text-align:center;
}

#homePageSS3 .ss3_nav_button:first-child { width:158px; }
#homePageSS3 .ss3_nav_button:last-child { width:157px; }

#homePageSS3 .ss3_nav_button_active
{
	background-color:#990000;
}

#homePageSS3 .ss3_nav_button > a
{
	display:table-cell;
	width:156px;
	height:40px;
	vertical-align:middle;
	text-align:center;
	color:#ffffff;
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:14px;
}

#homePageSS3 .ss3_nav_button:first-child a { width:158px; }
#homePageSS3 .ss3_nav_button:last-child a { width:157px; }

/******************************************************************************/
/*** --- slideshow4 version --- ***/
/******************************************************************************/
#homePageSS4
{
	position:relative;
	width:100%;
	margin-bottom:15px;
	z-index:10;
	overflow:visible;
}

#homePageSS4 .featureImage
{
	display:none;
	z-index:11;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
}

#homePageSS4 .fadingInFeature
{
	z-index:15;
}

#homePageSS4 .activeFeature
{
	display:block;
}

#homePageSS4 .activeFeature img
{
	position:relative;
}

#homePageSS4 img
{
	height:349px;
	width:737px;
}

#homePageSS4 .featureInfoSrc
{
	display:none;
}

#homePageSS4 .mainFeatureInfoTarget
{
	overflow:visible;
	position:absolute;
	right:-21px;
	bottom:35px;
	margin:0;
	padding:0;
	width:409px;
	height:170px;
	z-index:50;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureTitleFlag
{
	position:relative;
	background-image:url("../images/hpfeature-ss4-title-flag.png");
	background-repeat:no-repeat;
	background-position:right top;
	background-color:transparent;
	width:auto;
	height:11px;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureBG
{
	position:relative;
	width:409px;
	height:170px;
	background-color:#990000;
	opacity:0.8;
	filter:alpha(opacity='80');/*IE*/
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText
{
	position:absolute;
	top:0;
	left:0;
	padding:0 40px 0 20px;
	margin:0;
}

#homePageSS4 .mainFeatureInfoTarget a
{
	color:#ffffff;
	text-decoration:none;
}

#homePageSS4 .mainFeatureInfoTarget a:focus,
#homePageSS4 .mainFeatureInfoTarget a:hover,
#homePageSS4 .mainFeatureInfoTarget a:active,
#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureTitleText a:focus,
#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureTitleText a:hover,
#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureTitleText a:active
{
	text-decoration:underline;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureTitleText
{
	overflow:hidden;
	position:relative;
	font-family:Georgia,Times New Roman,serif;
	font-size:24px;
	color:#ffffff;
	margin:20px 0;
	padding:0;
	background:transparent;
	font-weight:normal;
	text-align:left;
	width:328px;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureTitleText a
{
	font-family:Georgia,Times New Roman,serif;
	font-size:24px;
	color:#ffffff;
	text-decoration:none;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureExcerptText
{
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	margin:0 0 20px 0;
	padding:0;
}
#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureExcerptText p
{
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:12px;
	color:#ffffff;
	text-align:left;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureMeta ul
{
	list-style:none;
	display:block;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureMeta ul li
{
	float:left;
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:11px;
	color:#ffffff;
	text-align:left;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureMeta ul li a
{
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:11px;
	color:#ffffff;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureMeta ul li + li
{
	margin-left:15px;
}

#homePageSS4 .mainFeatureInfoTarget .mainFeatureText .mainFeatureMeta ul li:last-child a
{
	font-style:italic;
	padding-right:7px;
	background-image:url("../images/white_arrow_right.png");
	background-repeat:no-repeat;
	background-position:right center;
}

#homePageSS4 .ss4_nav
{
	position:absolute;
	right:0;
	top:0;
	z-index:20;
	padding:0;
	height:31px;
}

#homePageSS4 .ss4_nav_button
{
	position:relative;
	float:left;
	background-color:#6f6f6f;
	padding:0;
	margin:0;
	width:24px;
	height:31px;
	text-align:center;
	color:#ffffff;
}

#homePageSS4 .ss4_nav_button_active
{
	background-color:#990000;
}

#homePageSS4 .ss4_nav_button > a
{
	display:inline-block;
	font-family:Helvetica Nueue,Helvetica,Verdana,sans-serif;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	width:24px;
	height:24px;
	padding-top:7px;
}
